.player-container {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  overflow-y: auto;
}

.player {
  padding: 15px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  max-width: 350px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.current-player {
  background-color: red;
}
