@font-face {
  font-family: "OpenSansCondLight";
  src: url("./fonts/OpenSansCondLight.ttf") format("truetype");
}
@font-face {
  font-family: "BeautySchoolDropout";
  src: url("./fonts/BeautySchoolDropout.ttf") format("truetype");
}

* {
  color: #ffffff;
  font-family: "OpenSansCondLight";
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url("./images/pub_3.png");
  background-size: cover;
}

.two-column-container {
  display: flex;
  align-items: center;
  width: 60%;
  margin-top: 100px;
  padding: 5%;
  background-color: #120012e3;
  border-radius: 30px;
  border-style: solid;
  border: solid;
  box-shadow: 1px -1px 6px 1px #a5a5a5, inset 0px 0px 2px 2px #777777;
}

.two-column-container .item-left {
  width: 65%;
}

.two-column-container .item-right {
  width: 35%;
  align-items: center;
  text-align: center;
}


