@font-face {
  font-family: "OpenSansCondLight";
  src: url("./fonts/OpenSansCondLight.ttf") format("truetype");
}
@font-face {
  font-family: "BeautySchoolDropout";
  src: url(./fonts/BeautySchoolDropout.ttf) format(truetype);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url("./images/bricks.png");
  background-position-y: -1200px;
  background-size: 100vw 120vh;
}
