@font-face {
  font-family: "OpenSansCondLight";
  src: url("./fonts/OpenSansCondLight.ttf") format("truetype");
}
@font-face {
  font-family: "BeautySchoolDropout";
  src: url("./fonts/BeautySchoolDropout.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url("./images/bricks.png");
  background-position-y: -1200px;
  background-size: 100vw 120vh;
}

.two-column-container {
  display: flex;
  width: 100%;
  margin-top: 150px;
  position: relative;
}

.two-column-container .item-left {
  width: 65%;
}

.two-column-container .item-right {
  width: 35%;
  align-items: center;
  text-align: center;
}
